<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222473625001-u2ngrar2l7nsjpe76fbck1qkmo4faomh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222473625001-u2ngrar2l7nsjpe76fbck1qkmo4faomh</string>
	<key>API_KEY</key>
	<string>AIzaSyCq032RbSsI80PE3ptOOdIPOeruA_uzjfA</string>
	<key>GCM_SENDER_ID</key>
	<string>222473625001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alientodevida.app</string>
	<key>PROJECT_ID</key>
	<string>pc-api-7068476234413575643-558</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-7068476234413575643-558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222473625001:ios:72116f6d3447bad72db8b8</string>
</dict>
</plist>